* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.site-header {
    padding: 20px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-nav {
    display: flex;
    gap: 30px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


.site-footer {
    padding: 60px 0 20px;
    margin-top: 80px;
}

.footer-inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}



.btn {
    text-decoration: none;
    color: #FFFFFFFF;
    font-weight: 550;
    font-size: 13px;
    border: #FFFFFFFF 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.8;
}